.container{
  width: 500px !important;
  margin-top: 100px;

}


.form-control{
  display: inline-block !important;
  width: auto !important;
}


.hidden{
  display: none!important;
}

.edit-input{
  height: 31px;
}